<div class="formgrid grid">
  <div class="field col-12">
    <h1>Static text in placeholder</h1>
  </div>

  <div class="field col-12 md:col-6">
    <h2>Basic</h2>
    <p-dropdown [options]="cities" [(ngModel)]="staticSelectedCity" optionLabel="name" [showClear]="true" placeholder="Select a City"
                [autoDisplayFirst]="false"></p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <h2>Template</h2>
    <p-dropdown [options]="countries" [(ngModel)]="staticSelectedCountry" optionLabel="name" [showClear]="true" placeholder="Select a Country"
                [autoDisplayFirst]="false">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="staticSelectedCountry">
          <img src="assets/images/flag_placeholder.png" [class]="'flag flag-' + staticSelectedCountry.code.toLowerCase()" style="width: 18px"/>
          <div>{{ staticSelectedCountry.name }}</div>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img src="assets/images/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="field col-12">
    <h1>Dynamic text in placeholder (with pipe)</h1>
    <label for="language">Language:</label>
    <p-selectButton id="language" [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" optionValue="code"
                    (onOptionClick)="changeLanguage($event)"></p-selectButton>
  </div>

  <div class="field col-12 md:col-6">
    Value of 'selectCity' string resource: {{'selectCity' | translate}}
  </div>

  <div class="field col-12 md:col-6">
    Value of 'selectCountry' string resource: {{'selectCountry' | translate}}
  </div>

  <div class="field col-12 md:col-6">
    <h2>Basic</h2>
    <p-dropdown [options]="cities" [(ngModel)]="dynamicSelectedCity" optionLabel="name" [showClear]="true" placeholder="{{'selectCity' | translate}}"
                [autoDisplayFirst]="false"></p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <h2>Template</h2>
    <p-dropdown [options]="countries" [(ngModel)]="dynamicSelectedCountry" optionLabel="name" [showClear]="true" placeholder="{{'selectCountry' | translate}}"
                [autoDisplayFirst]="false">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="dynamicSelectedCountry">
          <img src="assets/images/flag_placeholder.png" [class]="'flag flag-' + dynamicSelectedCountry.code.toLowerCase()" style="width: 18px"/>
          <div>{{ dynamicSelectedCountry.name }}</div>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img src="assets/images/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
